<form class="project-create-container" (ngSubmit)="crearProyecto()">
  <button class="back-button" [routerLink]="['/projects']">Volver a Proyectos</button>
  <h1>Crear Proyecto</h1>
  <label for="nombre">Nombre del proyecto:</label>
  <input type="text" id="nombre" name="nombre" [(ngModel)]="project.nombre" required>

  <label for="descripcion">Descripción:</label>
  <textarea id="descripcion" name="descripcion" [(ngModel)]="project.descripcion" required></textarea>

  <label for="ubicacion">Ubicación:</label>
  <input type="text" id="ubicacion" name="ubicacion" [(ngModel)]="project.ubicacion" required>

  <label for="fecha_inicio">Fecha de inicio:</label>
  <input type="date" id="fecha_inicio" name="fecha_inicio" [(ngModel)]="project.fecha_inicio" required>

  <label for="fecha_fin">Fecha de finalización:</label>
  <input type="date" id="fecha_fin" name="fecha_fin" [(ngModel)]="project.fecha_fin" required>
  
  <label for="estado">Estado:</label>
  <select id="estado" name="estado" [(ngModel)]="project.estado" required>
    <option *ngFor="let state of projectStates" [value]="state">
      {{ state }}
    </option>
  </select>

  <button type="submit">Crear</button>
</form>
